* {
    box-sizing: border-box;
}

body {
    padding: 0;
    margin: 0;
    font-family: 'Uchen', sans-serif;
}

header {
    display: inline;
    font-weight: bold;
}

main {
    padding: 20px;
    overflow: auto;
    background-color: #FCF8E8;
    display: flex;
    display: -webkit-flex;
}

.dropdown-menu {
    background-color: #EB5353;
    position: sticky;
    width: 100%;
    top: 0;
    bottom: 0;
    justify-content: space-between;
}

.dropdown-menu ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none
}

.dropdown-menu>ul>div>li {
    float: left;
    padding-left: 100px;
}

.dropdown-menu li a:hover {
    background-color: #1B2430;
}


.dropdown-menu li a {
    display: inline-block;
    color: white;
    text-decoration: none;
    text-align: center;
    padding: 14px 16px;
}

li.dropdown-button {
    display: inline-block;
}

.dropdown-button:hover .dropdown-list {
    display: block;
}

.dropdown-list a:hover {
    color: #fff !important;
}

.dropdown-list {
    position: absolute;
    display: none;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    background-color: #100F0F;
}

.dropdown-list a {
    color: white !important;
}

.dropdown-list a:hover {
    color: #232323 !important;
    background: #f3f3f3 !important;
}

.image {
    max-width: 100%;
}


input[type=checkbox] {
    display: none;
}

.hamburger {
    display: none;
    font-size: 24px;
    user-select: none;
}

@media (max-width: 768px) {
    .menu {
        display: none;
        position: absolute;
        background-color: #EB5353;
        right: 0;
        left: 0;
        text-align: center;
        padding: 16px 0;
    }

    .menu li:hover {
        display: inline-block;
        background-color: #EB5353;
        transition: 0.3s ease;
    }

    input[type=checkbox]:checked~.menu {
        display: block;
    }

    .hamburger {
        display: block;
    }

    .dropdown-list {
        left: 50%;
        top: 30px;
        transform: translateX(10%);
    }

    .dropdown-list li:hover {
        background-color: #EB5353;
    }
}

@media (max-width: 600px) {
    main {
        -webkit-flex-direction: column;
        flex-direction: column;
    }
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
    display: inline-block;
}

#content {
    float: left;
    width: 75%;
    -webkit-flex: 3;
    -ms-flex: 3;
    flex: 3;
}

aside {
    float: left;
    width: 25%;
    padding-left: 20px;
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}

.biodata {
    text-align: center;
}

footer {
    padding: 20px;
    color: white;
    background-color: #100F0F;
    text-align: center;
    font-weight: bold;
}

.footer {
    list-style-type: none;
}

footer,
ul,
li {
    list-style-type: none;
}

.image-article1 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.image-article2 {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.image-article3 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.image-article4 {
    float: right;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.image-article5 {
    float: left;
    margin-left: 10px;
    margin-right: 10px;
    width: 300px;
    border-radius: 10px;
    max-height: 300px;
    object-fit: cover;
}

.profil {
    width: 200px;
}

.center {
    align-content: center;
}

table {
    font-size: small;
    margin-left: auto;
    margin-right: auto;
}

.tabel {
    text-align: center;
}